* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.elements {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas:
        "menu header header"
        "menu content content"
        "menu content content";
    background-color: #000000;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittle {
    margin-left: 5%;
}

.tittle p {
    color: #f0d85a;
    font-size: 170%;
}

.navbar {
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar input {
    height: 30%;
    width: 80%;
    border-radius: 10px;
    outline: 0;
    font-size: 100%;
    border: none;
    background-color: #1a1a1a;
    color: #e4e4e4;
    padding: 20px;
}

.icon-header {
    display: flex;
    margin-right: 10%;
    gap: 35px;
}

.icon-header i {
    color: #e4e4e4;
    font-size: 25px;
}

.menu {
    grid-area: menu;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

.icon-menu {
    color: #646464;
    font-size: 20px;
}

.icon-menu div {
    display: flex;
    align-items: center;
    margin: 40px;
}

.icon-menu div p {
    font-size: 12px;
    margin-left: 10px;
}

.icon-end {
    display: flex;
    align-items: center;
    color: #646464;
    font-size: 20px;
    height: 10%;
    margin-top: 90%;
    margin-left: 40px;
}

.icon-end div {
    display: flex;
    align-items: center;
}

.icon-end div p {
    font-size: 12px;
    margin-left: 10px;
}

.content {
    grid-area: content;
    background-color: #1a1a1a;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
}

.content {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 20% 20% 1fr;
    grid-template-areas:
        "top top top"
        "crypto crypto crypto"
        "tabel chart chart";
}

.top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
}

.top_tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 15%;
    font-size: 15px;
    color: #ffffff;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: 200;
}

.value {
    position: absolute;
    display: flex;
    width: 15%;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    margin-left: 2px;
    margin-top: 40px;
}

#zero {
    font-size: 20px;
    color: #646464;
}

.data {
    display: flex;
    width: 40%;
    height: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#color_base {
    color: #646464;
}

#color_red {
    color: #f46d22;
}

#color_blue {
    color: #1dd6b4;
}

.crypto {
    display: flex;
    grid-area: crypto;
    align-items: center;
}

.Dados {
    display: flex;
    height: 100%;
    width: 20%;
    background-color: #070707;
    border-radius: 20px;
    margin: 30px;
}

.marca {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
    height: 20%;
    width: 10%;
    border-radius: 50px;
    margin: 10px;
}

.marca img {
    width: 15px;
    height: 15px;
}

.text_card {
    margin: 10px;
    color: #e4e4e4;
    font-size: 15px;
}

#cinza {
    font-size: 10px;
    color: #646464;
}

#dolar {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    margin-left: -35px;
}

.grafico {
    position: absolute;
    width: 100px;
    height: 80px;
    margin-left: 120px;
    margin-top: 40px;
}

.grafico img {
    width: 100%;
    height: 100%;
}

#red {
    color: #f46d22;
    font-size: 10px;
    position: absolute;
    margin-top: 35px;
    margin-left: -32px;
}

.tabel {
    display: flex;
    align-items: center;
    grid-area: tabel;
    margin-left: 30px;
}

.porty {
    height: 90%;
    width: 95%;
    background-color: #f0d85a;
    border-radius: 10px;
}

.top_port {
    width: 100%;
    height: 16.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.top_port p {
    font-weight: 500;
    margin-left: 20px;
    font-size: 15px;
}

#ponto {
    font-weight: 700;
    margin-right: 20px;
}

.data_port {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.port_marca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 5vh;
    background-color: #070707;
    border-radius: 30px;
    margin-left: 5px;
}

.port_marca img {
    width: 20px;
    height: 20px;
}

#name {
    font-weight: 700;
    font-size: 15px;
}

#name_2 {
    font-weight: 250;
    font-size: 10px;
}

.port_porc {
    font-size: 15px;
    margin-right: 10px;
}

#taxa {
    font-size: 10px;
    color: #862f00;
}

#taxa_blue{
    font-size: 10px;
    color: #007761;
}

.chart {
    display: flex;
    align-items: center;
    grid-area: chart;
}

.data_chart{
    height: 90%;
    width: 97%;
    background-color: #070707;
    border-radius: 10px;
}

.top_chart{
    width: 100%;
    height: 12.8%;
    border-bottom: 1px solid #2A2A2A;
}

.top_chart p{
    color: #e4e4e4;
    margin-left: 20px;
    margin-top: 11px;
}
