*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}

.elements{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas: 
    "menu header header"
    "menu content content"
    "menu content content";
    background-color: #000000;
}


.header{
    grid-area: header;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.tittle{
    margin-left: 5%;
}

.tittle p{
    color: #F0D85A;
    font-size: 170%;
}

.navbar{
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar input{
    height: 30%;
    width: 80%;
    border-radius: 10px;
    outline: 0;
    font-size: 100%;
    border: none;
    background-color: #1A1A1A;
    color: #E4E4E4;
    padding: 20px;
}

.icon-header{
    display: flex;
    margin-right: 10%;
    gap: 35px;
}

.icon-header i{
    color: #E4E4E4; 
    font-size: 25px;
}


.menu{
    grid-area: menu;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.logo img{
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

.icon-menu{
    color: #646464;
    font-size: 20px;
}

.icon-menu div{
    display: flex;
    align-items: center;
    margin: 40px;
}

.icon-menu div p{
    font-size: 12px;
    margin-left: 10px;
}

.icon-end{
    display: flex;
    align-items: center;
    color: #646464;
    font-size: 20px;
    height: 10%;
    margin-top: 90%;
    margin-left: 40px;
}

.icon-end div{
    display: flex;
    align-items: center;
}
 
.icon-end div p{
    font-size: 12px;
    margin-left: 10px;
}

.content{
        grid-area: content;
        background-color: #1A1A1A;
        margin-right: 2%;
        margin-bottom: 2%;
        border-radius: 20px;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 20% 1fr;
        grid-template-areas: 
        "top top top"
        "crypto crypto crypto"
        "tabel chart chart" ;
    }

    .top{
        grid-area: top;
        display:flex;
        justify-content: space-between;

    }

    .top_tittle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 20%;
        font-size: 15px;
        color: #FFFFFF;
        margin-left: 30px;
        margin-top: 50px;
        
    }

    .value{
        position: absolute;
        display: flex;
        width: 15%;
        height:10%;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        color: #FFFFFF;
        margin-left: 28px;
        margin-top: 70px;
    }

    #zero{
        font-size: 30px;
        color: #646464;
    }

    .data{
        display: flex;
        width: 40%;
        height: 100%;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    #color_base{
        color: #646464;
    }

    #color_red{
        color: #F46D22;
    }

    #color_blue{
        color: #1DD6B4;
    }

    .crypto{
        grid-area: crypto;
    }

    .tabel{
        grid-area: tabel;
    }

    .chart{
        grid-area: chart;
    }